# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage

# Dependency directories
node_modules/

# Build outputs
dist/
.esbuild/
.tsup/

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing / Playwright
playwright-report/
blob-report/
test-results/

# Env
.env
.env.*

# Gatsby
.cache/
public/
